/* Basic CSS Template */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #d4c9c9;
    background-color:#1d1a1a
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    text-align: center;
}

.card {
    width: 250px;
    height: 200px;
    border: 1px solid beige;
    border-radius: 10px;    
}

img {
    width: 200px;
    height: 150px;
    display: flex;
}

img, .card h2 {
    text-align: center;
    margin: auto;
}

.countries {
    display: flex;
    justify-content: space-evenly;
}

.countries-title {
    text-align: center;
    margin: auto;
}