/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1200px-Flag_of_Japan.svg.png'); ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #444;
}

/* Headings */
h1, h2, h3 {
    margin-bottom: 0.5em;
}


/* Home Section */
.Home {
    padding: 20px;
    background-color: #f4f4f4;
}

.title {
    font-size: 2em;
    color: #444;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.2em;
    text-align: center;
    color: #1d1818;
}

/* Cards Section */
.Cards {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 20px;

}

.History-title{
    text-align: center;
    margin: auto;
}

.card-shoguns, .samurai, .bushido {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #000000;
    width: 350px;
    border-radius: 10px;
    margin: auto;
}

.tea-ceremony, .kimono, .sushi, .ramen, .tempura, .tonkatsu, .yakitori, .mount-fuji, .fushimi-inari-taisha, .nara, .oasaka {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #000000;
    width: 350px;
    border-radius: 10px;
    margin: auto;
    gap: 5px;
}

.culture-cards, .food-cards, .sights {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.culture-title, .food-title, .section-title {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

a {
    color:#0066cc;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: #004499;
    cursor: pointer;
}

.food-cards img, .sights img {
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
}

.tonkatsu, .yakitori {
    margin-top: 30px;
}